h1 {
    color:white;
    text-align: center;
    font-family: fuente, Arial, Helvetica, sans-serif;

}
body{
    background-image: url(wallpaper4.png);
}

h2 {
    color:darkviolet;
    text-align: center;
    font-family: fuente, Arial, Helvetica, sans-serif;
}


@font-face{
    font-family: "fuente";
    src: url(fuente.otf);
}

#psx{
    background-color: orchid;
    border-radius: 20px;
}

#ps2{
    background-color: orchid;
    border-radius: 20px;
}

#GBC{
    background-color: orchid;
    border-radius: 20px;
}

p {
    text-align: center;
}

h3 {
    color:white;
    text-align: center;
    font-family: fuente, Arial, Helvetica, sans-serif;

}